/**app.wxss**/
@themeColor: #229041;
@googlered:#e74032;
@googleyellow: #fbc21a;
@googleblue:#2e7cee;
@googlegreen:#219141;
@radius: 20rpx;
@bgColor:#f6f8fa;

page{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: .8vw;
  font-family: 'PingFang SC';
}

@font-face{
  font-family: 'signature';
  src: url('https://fastly.jsdelivr.net/gh/southaki/contentDeliveryNetwork@0.0.17/font-family/signature.otf') format('opentype');
}