.home{
  width: 100vw;
  height: 100vh;
  background: url(https://github.com/xieleihan/llmIntelligenceRobot_GraduationProject/blob/main/Front-End/src/assets/images/banner_background.jpeg?raw=true) no-repeat;
  background-size: cover;
  background-position: center center;
}
