@import './base.scss';

.home{
    width: 100dvw;
    height: 100dvh;
    background: url(../assets/images/banner_background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    .top{
        width: 100%;
        height: 1.5rem;
        padding: 0 .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .signature{
            font-family: 'signature';
            font-size: .75rem;
        }
        .multifunctional,
        .newChat{
            aspect-ratio: 1/1;
            height: .6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .container{
        width: 100%;
        height: calc(100% - 3.4rem);
        padding: .3rem .5rem;
        position: relative;
    }
    .bottom{
        width: 100%;
        height: 1.5rem;
        padding: 0 .5rem;
        .content{
            background-color: white;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: $radius;
            height: 100%;
            .inputBox{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 .3rem;
                .icon{
                    height: 50%;
                    aspect-ratio: 1/1;
                }
                .input{
                    height: 100%;
                    padding: 0 .2rem;
                }
                .send{
                    height: 80%;
                    aspect-ratio: 1/1;
                    border-radius: $radius;
                    background-color: $noSendInput;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 50%;
                        height: 50%;
                    }
                    &:hover{
                        background-color: $hoverInput;
                    }
                }
            }
        }
    }

    .sideBar{
        // width: 60%;
        height: 100dvh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        border-radius: 0 $radius $radius 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        transition: all .5s;
        .top{
            width: 100%;
            height: 1.5rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .title{
                font-family: 'signature';
                margin: 0 auto;
            }
        }
        .container-side{
            width: 100%;
            height: calc(100% - 2rem);
            padding: 0.3rem 0.5rem;
            .avaterBox{
                width: 100%;
                height: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                border-bottom: 1px solid #ccc;
                .avater{
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                }
                .rightBox{
                    width: 60%;
                    height: 100%;
                    font-size: .4rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .name{
                        font-family: 'signature';
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                    }
                    .desc{
                        color: #ccc;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: .3rem;
                    }
                }
            }
            .functionBox{
                width: 100%;
                height: calc(100% - 2rem);
                padding-bottom: 1rem;
                border-bottom: 1px solid #ccc;
                .item{
                    height: 1.5rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: .5rem;
                    border-bottom: 1px dotted #ccc;
                    transition: all .5s;
                    padding: 0 .2rem;
                    &:hover{
                        background-color: $hoverInput;
                        color: white;
                    }
                    .item-left{
                        display: flex;
                        align-items: center;
                        span{
                            margin-left: .3rem;
                            text-wrap: nowrap;
                        }
                        img{
                            width: .5rem;
                            height: .5rem;
                        }
                    }
                }
            }
        }
        .copyright{
            width: 100%;
            height: .5rem;
            font-size: .3rem;
            text-align: center;
            line-height: .5rem;
        }
    }

    .footer{
        width: 100%;
        height: .4rem;
        font-size: .3rem;
        text-align: center;
        color: #ccc;
        line-height: .4rem;
    }
}