@import './base.scss';

.register {
    width: 100dvw;
    height: 100dvh;
    position: relative;

    .container {
        width: 80%;
        height: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .title {
            font-size: .8rem;
            font-weight: bold;
        }

        .info {
            font-size: .8rem;
        }

        .desc {
            color: #ccc;
            font-size: .3rem;
            margin-top: .3rem;
            letter-spacing: .3rem;
            margin-bottom: .3rem;
        }

        .inputVal {
            width: 100%;
            height: 1.5rem;
            padding: 0 .3rem;
            border: none;
            outline: none;
            border: 1px solid #ccc;
            margin-bottom: .3rem;
            border-radius: $radius;
            font-size: .4rem;
            background-color: white;
            &.secondInput{
                border: none;
                margin-bottom: 0;
            }
        }

        .secoundPagesInput{
            background-color: white;
            border: 1px solid #ccc;
            border-radius: $radius;
            display: flex;
            align-items: center;
            padding-left: .3rem;
            margin-bottom: .4rem;
            &:last-child{
                margin-bottom: 0;
            }
            .emailCodeTitle{
                font-size: .4rem;
                text-wrap: nowrap;
            }
            .secoundPagesInputBox{
                display: flex;
                align-items: center;
                padding-right: .4rem;
                .sendCode{
                    font-size: .4rem;
                    color: $googleBlue;
                    text-wrap: nowrap;
                }
                .svgImg{
                    width: 4rem;
                    height: 1.5rem;
                    border-radius: 0 $radius $radius 0;
                    svg{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .passwordInput {
            position: relative;

            .img {
                position: absolute;
                top: 50%;
                right: .5rem;
                transform: translateY(-50%);

            }
        }

        .radioBox {
            display: flex;
            font-size: .4rem;

            input {
                margin-right: .1rem;
            }

            .link {
                color: $googleBlue;

                &:hover {
                    text-decoration: underline;
                    color: $googleRed;
                }
            }
        }

        .registerBtn {
            display: block;
            width: 100%;
            height: 1.5rem;
            margin-top: 1rem;
            background-color: $googleBlue;
            border-radius: $radius;
            color: white;
        }

        .goToLoginPages {
            color: #ccc;
            font-size: .3rem;
            text-align: center;
            margin-top: .1rem;
        }
    }
}