@import '../../base.scss';

.personalGithubInfo{
    width: 100%;
    font-size: .4rem;
    .title{
        font-weight: bold;
    }
    .item{
        width: 100%;
        .img{
            width: 100%;
        }
        .span{
            display: inline-block;
            margin-right: .4rem;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}